In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame.from_csv('C:/Users/nilli lab/Desktop/load/image_selection_criteria/my_dict.csv')
df.reset_index(drop=False, inplace=True)
#df.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
cols = ['image_name','cat1','cat2','cat3','cat4','cat5','cat6','ts_rating','load']
df.columns = cols
print df['ts_rating'].quantile([.25, .75])
print df.shape
df

0.25    18.655285
0.75    31.188642
Name: ts_rating, dtype: float64
(2002, 9)

,image_name,cat1,cat2,cat3,cat4,cat5,cat6,ts_rating,load
0,2008_000002.jpg,tvmonitor,NaN,NaN,NaN,NaN,\n,15.135795,low
1,2008_000003.jpg,person,train,NaN,NaN,NaN,\n,19.449015,low
2,2008_000015.jpg,bottle,NaN,NaN,NaN,NaN,\n,31.539720,high
3,2008_000016.jpg,tvmonitor,NaN,NaN,NaN,NaN,\n,17.207581,low
4,2008_000019.jpg,dog,NaN,NaN,NaN,NaN,\n,18.690190,low
5,2008_000023.jpg,tvmonitor,bottle,person,NaN,NaN,\n,35.932514,high
6,2008_000032.jpg,bus,person,NaN,NaN,NaN,\n,30.612036,high
7,2008_000033.jpg,aeroplane,NaN,NaN,NaN,NaN,\n,16.997423,low
8,2008_000036.jpg,person,bicycle,boat,NaN,NaN,\n,33.118834,high
9,2008_000037.jpg,aeroplane,NaN,NaN,NaN,NaN,\n,12.091823,low
10,2008_000041.jpg,pottedplant,person,chair,diningtable,NaN,\n,37.710719,high
11,2008_000051.jpg,person,chair,bottle,NaN,NaN,\n,31.777179,high
12,2008_000054.jpg,bird,NaN,NaN,NaN,NaN,\n,17.429144,low
13,2008_000056.jpg,cat,NaN,NaN,NaN,NaN,\n,19.371596,low
14,2008_000059.jpg,person,dog,NaN,NaN,NaN,\n,19.028715,low
15,2008_000060.jpg,cat,NaN,NaN,NaN,NaN,\n,19.848756,low
16,2008_000062.jpg,cat,NaN,NaN,NaN,NaN,\n,17.236274,low
17,2008_000064.jpg,aeroplane,NaN,NaN,NaN,NaN,\n,18.799444,low
18,2008_000066.jpg,dog,NaN,NaN,NaN,NaN,\n,14.840371,low
19,2008_000074.jpg,car,NaN,NaN,NaN,NaN,\n,17.146808,low
20,2008_000076.jpg,horse,NaN,NaN,NaN,NaN,\n,20.993717,low
21,2008_000078.jpg,dog,NaN,NaN,NaN,NaN,\n,19.687655,low
22,2008_000080.jpg,dog,NaN,NaN,NaN,NaN,\n,18.007727,low
23,2008_000089.jpg,chair,NaN,NaN,NaN,NaN,\n,14.267558,low
24,2008_000090.jpg,person,bicycle,NaN,NaN,NaN,\n,32.732634,high
25,2008_000093.jpg,tvmonitor,chair,sofa,NaN,NaN,\n,29.822033,high
26,2008_000105.jpg,car,NaN,NaN,NaN,NaN,\n,19.453167,low
27,2008_000107.jpg,chair,NaN,NaN,NaN,NaN,\n,34.276866,high
28,2008_000109.jpg,car,motorbike,person,NaN,NaN,\n,34.345367,high
29,2008_000112.jpg,bottle,cat,NaN,NaN,NaN,\n,21.259830,low
...,...,...,...,...,...,...,...,...,...
1972,2011_002624.jpg,person,NaN,NaN,NaN,NaN,\n,31.033903,high
1973,2011_002631.jpg,cat,NaN,NaN,NaN,NaN,\n,29.376810,high
1974,2011_002641.jpg,person,chair,bottle,NaN,NaN,\n,33.381115,high
1975,2011_002649.jpg,cow,NaN,NaN,NaN,NaN,\n,15.170684,low
1976,2011_002664.jpg,cat,NaN,NaN,NaN,NaN,\n,14.310290,low
1977,2011_002760.jpg,person,motorbike,NaN,NaN,NaN,\n,29.237451,high
1978,2011_002766.jpg,sofa,dog,NaN,NaN,NaN,\n,19.885627,low
1979,2011_002770.jpg,person,NaN,NaN,NaN,NaN,\n,17.717587,low
1980,2011_002796.jpg,car,motorbike,person,NaN,NaN,\n,34.811783,high
1981,2011_002810.jpg,pottedplant,tvmonitor,chair,sofa,NaN,\n,35.636604,high
1982,2011_002814.jpg,sofa,bottle,pottedplant,tvmonitor,chair,diningtable\n,33.937776,high
1983,2011_002879.jpg,sofa,tvmonitor,NaN,NaN,NaN,\n,29.902737,high
1984,2011_002887.jpg,chair,NaN,NaN,NaN,NaN,\n,19.485158,low
1985,2011_002897.jpg,bottle,NaN,NaN,NaN,NaN,\n,33.936295,high
1986,2011_002911.jpg,bottle,dog,diningtable,NaN,NaN,\n,21.034647,low
1987,2011_002927.jpg,pottedplant,chair,diningtable,bottle,NaN,\n,29.764981,high
1988,2011_002949.jpg,person,motorbike,NaN,NaN,NaN,\n,33.880499,high
1989,2011_002958.jpg,person,bicycle,NaN,NaN,NaN,\n,31.406603,high
1990,2011_002971.jpg,sofa,chair,person,NaN,NaN,\n,36.443792,high
1991,2011_003023.jpg,sheep,person,NaN,NaN,NaN,\n,14.023327,low
1992,2011_003030.jpg,bird,NaN,NaN,NaN,NaN,\n,16.947936,low
1993,2011_003066.jpg,person,chair,diningtable,bottle,NaN,\n,33.734529,high
1994,2011_003074.jpg,chair,NaN,NaN,NaN,NaN,\n,20.508881,low
1995,2011_003086.jpg,bus,car,person,NaN,NaN,\n,29.143516,high
1996,2011_003098.jpg,dog,NaN,NaN,NaN,NaN,\n,14.526602,low
1997,2011_003145.jpg,bird,NaN,NaN,NaN,NaN,\n,17.497070,low
1998,2011_003169.jpg,bicycle,NaN,NaN,NaN,NaN,\n,17.364687,low
1999,2011_003223.jpg,sheep,NaN,NaN,NaN,NaN,\n,13.954353,low
2000,2011_003228.jpg,train,NaN,NaN,NaN,NaN,\n,30.977394,high
2001,2011_003244.jpg,horse,NaN,NaN,NaN,NaN,\n,14.779477,low

In [3]:
for i in range(df.shape[0]):
    if df.loc[i,'ts_rating'] < 18.65:
        df.loc[i,'load'] = 'low'
    elif df.loc[i,'ts_rating'] > 31.18:
        df.loc[i,'load'] = 'high'
    else:
        df.loc[i,'load'] = 'intermediate'

In [4]:
df_low = df[df['load']=='low']
df_high = df[df['load']=='high']

In [5]:
cat1 = df['cat1'].tolist()
cat2 = df['cat2'].tolist()
cat3 = df['cat3'].tolist()
cat4 = df['cat4'].tolist()
cat5 = df['cat5'].tolist()
cat6 = df['cat6'].tolist()
load = df['load'].tolist()
ts_rating = df['ts_rating'].tolist()
image_name = df['image_name'].tolist()

images_dict ={z[0]:list(z[1:]) for z in zip(image_name,cat1,cat2,cat3,cat4,cat5,cat6,load,ts_rating)}

In [6]:
categories = [' bottle', ' horse', ' pottedplant', ' dog',
              ' cat', ' person', ' aeroplane', ' car', ' chair', ' sofa', ' bird', ' boat']

In [7]:
categories_counters = {}
categories_counters[' bottle'] = ['low',0,'high',0]
categories_counters[' horse'] = ['low',0,'high',0]
categories_counters[' pottedplant'] = ['low',0,'high',0]
categories_counters[' dog'] = ['low',0,'high',0]
categories_counters[' cat'] = ['low',0,'high',0]
categories_counters[' person'] = ['low',0,'high',0]
categories_counters[' aeroplane'] = ['low',0,'high',0]
categories_counters[' car'] = ['low',0,'high',0]
categories_counters[' chair'] = ['low',0,'high',0]
categories_counters[' sofa'] = ['low',0,'high',0]
categories_counters[' bird'] = ['low',0,'high',0]
categories_counters[' boat'] = ['low',0,'high',0]
print len(categories_counters.keys())

12

In [8]:
import pdb
%pdb

Automatic pdb calling has been turned ON

In [9]:

for i in categories_counters:
    for i_2 in images_dict:
        if i in images_dict[i_2] and 'low' in images_dict[i_2]:
            categories_counters[i][1] = categories_counters[i][1] +1
        elif i in images_dict[i_2] and 'high' in images_dict[i_2]:
            categories_counters[i][3] = categories_counters[i][3] +1

In [10]:
for i in categories_counters:
    print categories_counters[i][1]

11
93
88
24
74
18
57
9
30
10
80
11

In [11]:
categories_counters

{' aeroplane': ['low', 57, 'high', 10],
 ' bird': ['low', 80, 'high', 7],
 ' boat': ['low', 10, 'high', 42],
 ' bottle': ['low', 9, 'high', 77],
 ' car': ['low', 24, 'high', 73],
 ' cat': ['low', 93, 'high', 10],
 ' chair': ['low', 30, 'high', 106],
 ' dog': ['low', 88, 'high', 27],
 ' horse': ['low', 11, 'high', 16],
 ' person': ['low', 74, 'high', 318],
 ' pottedplant': ['low', 11, 'high', 49],
 ' sofa': ['low', 18, 'high', 33]}

In [16]:
def n_images_per_category(n):
    for i in categories_counters:
        if categories_counters[i][1] >= n and categories_counters[i][3] >= n:
            print i, categories_counters[i]

In [20]:
n_images_per_category(12)

 dog ['low', 88, 'high', 27]
 car ['low', 24, 'high', 73]
 person ['low', 74, 'high', 318]
 sofa ['low', 18, 'high', 33]
 chair ['low', 30, 'high', 106]