In [10]:
from random import random
import pandas as pd
import numpy as np
import random
import csv
from pdb import set_trace
import pdb
#%pdb
#mypath = 'E:/OneDrive - University College London/load/pilot_6_data/'
#mypath = 'C:/Users/KeK/OneDrive - University College London/load/pilot_6_data/'
%load_ext autoreload
%autoreload 2
%matplotlib inline

from process import *
#from test import *
from tables import *

pd.set_option('display.max_rows', 9000)
pd.set_option('display.max_columns', 9000)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
f = '../output/participant_8.pik'
import pickle
with open(f,'r') as of:
    D = pickle.load(of)
df = pd.DataFrame.from_dict(D['experiment_details'],orient='index')

In [ ]:
f = '../output/participant_8.pik'
import pickle
with open(f,'r') as of:
    D = pickle.load(of)
df = pd.DataFrame.from_dict(D['experiment_details'],orient='index')

new_df, notes = process(df)
print notes

In [ ]:
df

In [11]:
participants = ['1','2','3','4','5','7','8','9','10','11','12','14','15','17']
participant_names = participants

In [ ]:
results = {}
for p in participants:
    df_out,notes = process_observer(p)
    results[p] = notes

In [ ]:
results

In [ ]:
# Preparing table for visual-search task
visual_search_task_data=np.zeros((14,3))

for i,p in enumerate(participants):
    visual_search_task_data[i,0] = results[p]['vs_accuracy_high']*100
    visual_search_task_data[i,1] = results[p]['vs_accuracy_low']*100
    visual_search_task_data[i,2] = results[p]['vs_accuracy_diff']*100

    
visual_search_task_data = np.round(visual_search_task_data,1)

In [ ]:
# Preparing table for tone-detection task
detection_task_data=np.zeros((14,3))

for i,p in enumerate(participants):
    detection_task_data[i,0] = results[p]['tone_detection_accuracy_high']*100
    detection_task_data[i,1] = results[p]['tone_detection_accuracy_low']*100
    detection_task_data[i,2] = results[p]['tone_detection_accuracy_diff']*100

    
detection_task_data = np.round(detection_task_data,1)

In [ ]:
# Preparing table for false alarms
false_alarms_data=np.zeros((14,2))

for i,p in enumerate(participants):
    false_alarms_data[i,0] = int(results[p]['false_alarms_low'])
    false_alarms_data[i,1] = results[p]['false_alarms_high']

In [ ]:
len(participants)

In [ ]:
participants = np.arange(1,len(participants)+1)

In [ ]:
f = open('reports/my_table_3.html','wb')
f.write('<html><body>')
f.write("<link rel='stylesheet' type='text/css' href='main.css'>")
#Table for Visual-search task
make_table('Visual Search Task: only trials without tones and without false alarms to tones (spacebar responses)',['Participant','Accuracy: high','Accuracy: low','Accuracy: low - high'],participants,visual_search_task_data,f)
#Table for Tone-detection task
make_table('Tone Detection Task',['Participant','Accuracy: high','Accuracy: low','Accuracy: low - high'],participants,detection_task_data,f)
#Table for false alarms (in tone detection)
make_table('Tone Detection Task: absolute number of false alarms',['Participant','False alarms: low','False alarms: high'],participants,false_alarms_data,f)
f.write('</body></html>')
f.close()

In [ ]:
detection_task_data

In [ ]:
np.mean(detection_task_data[:,2])

In [ ]:
np.mean(detection_task_data[:,1] - detection_task_data[:,0])

In [ ]:
stats.ttest_rel(detection_task_data[:,1], detection_task_data[:,0])

In [ ]:
from scipy import stats as stats

In [ ]:
plt.scatter(detection_task_data[:,1], detection_task_data[:,2])

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
stats.pearsonr(detection_task_data[:,1], detection_task_data[:,2])

# By block

In [12]:
results = {}
for p in participant_names:
    df,notes = process_observer(p)
    results[p] = notes
    print 'PARTICIPANT NAME: '+str(p)
    a=df.groupby(['block_number','sdt'])['sdt'].count()  
    print type(a)
    print a

960
MEAN TO:  1.47927871794
TO WINDOW:  0.453356333156 2.50520110272
TO rejects n:  0
VS rejects N:  2
CORRECT VS:  117
PARTICIPANT NAME: 1
<class 'pandas.core.series.Series'>
block_number  sdt
1             2       3
              4      57
2             0       3
              1       3
              4      54
3             2       3
              4      57
4             2       3
              4      57
5             2       3
              4      57
6             0       1
              1       3
              4      56
7             0       2
              1       3
              4      55
8             2       3
              4      57
9             0       1
              1       3
              4      56
10            0       1
              1       2
              2       1
              4      56
11            2       3
              4      57
12            2       3
              4      57
13            1       1
              2       2
              4      57
14            0       1
              1       1
              2       2
              4      56
15            2       3
              4      57
16            2       3
              4      57
Name: sdt, dtype: int64
960
MEAN TO:  1.64327474029
TO WINDOW:  0.942279519948 2.34426996063
TO rejects n:  0
VS rejects N:  6
CORRECT VS:  116
PARTICIPANT NAME: 2
<class 'pandas.core.series.Series'>
block_number  sdt
1             2       3
              4      57
2             2       3
              4      57
3             2       3
              4      57
4             0       1
              1       1
              2       2
              4      56
5             0       1
              1       1
              2       2
              4      56
6             2       3
              4      57
7             0       1
              1       1
              2       2
              4      56
8             0       1
              1       1
              2       2
              4      56
9             2       3
              4      57
10            0       1
              1       1
              2       2
              4      56
11            2       3
              4      57
12            2       3
              4      57
13            2       3
              4      57
14            2       3
              4      57
15            2       3
              4      57
16            2       3
              4      57
Name: sdt, dtype: int64
960
MEAN TO:  1.32639641756
TO WINDOW:  0.515620599767 2.13717223536
2.1627071863
TO rejects n:  1
VS rejects N:  4
CORRECT VS:  109
PARTICIPANT NAME: 3
<class 'pandas.core.series.Series'>
block_number  sdt
1             0       2
              1       3
              4      55
2             0       2
              1       2
              2       1
              4      55
3             0       1
              1       2
              2       1
              4      56
4             0       1
              1       2
              2       1
              4      56
5             0       1
              1       1
              2       2
              4      56
6             1       2
              2       1
              4      57
7             0       1
              1       1
              2       2
              4      56
8             0       1
              1       2
              2       1
              4      56
9             0       3
              1       3
              4      54
10            0       1
              1       2
              2       1
              4      56
11            1       1
              2       2
              4      57
12            2       3
              4      57
13            0       1
              1       2
              2       1
              4      56
14            0       2
              1       2
              2       1
              4      55
15            1       3
              4      57
16            1       2
              2       1
              4      57
Name: sdt, dtype: int64
960
MEAN TO:  0.888448123494
TO WINDOW:  -3.98146126077 5.75835750776
-8.34853218931
TO rejects n:  1
VS rejects N:  6
CORRECT VS:  118
PARTICIPANT NAME: 4
<class 'pandas.core.series.Series'>
block_number  sdt
1             1       3
              4      57
2             0       2
              1       3
              4      55
3             0       1
              1       1
              2       2
              4      56
4             1       2
              2       1
              4      57
5             1       3
              4      57
6             0       1
              1       1
              2       2
              4      56
7             1       3
              4      57
8             0       2
              1       3
              4      55
9             1       3
              4      57
10            0       1
              1       1
              2       2
              4      56
11            1       1
              2       2
              4      57
12            2       3
              4      57
13            2       3
              4      57
14            2       3
              4      57
15            1       1
              2       2
              4      57
16            2       3
              4      57
Name: sdt, dtype: int64
960
MEAN TO:  1.24973741412
TO WINDOW:  0.370487393209 2.12898743502
0.328447756781
TO rejects n:  1
VS rejects N:  3
CORRECT VS:  129
PARTICIPANT NAME: 5
<class 'pandas.core.series.Series'>
block_number  sdt
1             0       1
              1       3
              4      56
2             1       3
              4      57
3             1       3
              4      57
4             0       2
              1       3
              4      55
5             0       1
              1       2
              2       1
              3       1
              4      55
6             0       1
              1       2
              2       1
              4      56
7             0       2
              1       3
              4      55
8             0       3
              1       3
              4      54
9             0       1
              1       2
              2       1
              4      56
10            0       1
              1       3
              4      56
11            0       2
              1       3
              4      55
12            0       1
              1       3
              4      56
13            0       2
              1       3
              4      55
14            0       1
              1       3
              4      56
15            0       3
              1       3
              4      54
16            1       2
              2       1
              4      57
Name: sdt, dtype: int64
960
MEAN TO:  1.1834716151
TO WINDOW:  0.428892306638 1.93805092356
2.00212495538
TO rejects n:  1
VS rejects N:  3
CORRECT VS:  110
PARTICIPANT NAME: 7
<class 'pandas.core.series.Series'>
block_number  sdt
1             1       2
              2       1
              4      57
2             1       2
              2       1
              4      57
3             0       1
              1       3
              4      56
4             1       3
              4      57
5             0       1
              1       3
              4      56
6             0       1
              1       3
              4      56
7             1       3
              4      57
8             0       1
              1       3
              4      56
9             1       3
              4      57
10            0       1
              1       3
              4      56
11            0       1
              1       2
              2       1
              4      56
12            1       2
              2       1
              4      57
13            0       2
              1       2
              2       1
              4      55
14            0       1
              1       2
              2       1
              4      56
15            0       3
              1       3
              4      54
16            0       1
              1       2
              2       1
              4      56
Name: sdt, dtype: int64
960
MEAN TO:  1.15074708319
TO WINDOW:  0.253489353005 2.04800481338
-0.202262869258
TO rejects n:  1
VS rejects N:  3
CORRECT VS:  117

PARTICIPANT NAME: 8
<class 'pandas.core.series.Series'>
block_number  sdt
1             0       2
              1       3
              3       1
              4      54
2             0       1
              1       3
              4      56
3             1       2
              2       1
              4      57
4             0       1
              1       3
              4      56
5             1       2
              2       1
              4      57
6             0       1
              1       3
              4      56
7             0       2
              1       3
              4      55
8             0       2
              1       3
              4      55
9             1       3
              4      57
10            0       1
              1       2
              2       1
              4      56
11            0       1
              1       3
              4      56
12            0       2
              1       3
              4      55
13            2       3
              4      57
14            1       1
              2       2
              4      57
15            1       1
              2       2
              4      57
16            1       3
              4      57
Name: sdt, dtype: int64
960
MEAN TO:  1.33964470157
TO WINDOW:  0.616400066294 2.06288933686
TO rejects n:  0
VS rejects N:  6
CORRECT VS:  106
PARTICIPANT NAME: 9
<class 'pandas.core.series.Series'>
block_number  sdt
1             1       1
              2       2
              4      57
2             0       1
              1       1
              2       2
              4      56
3             1       1
              2       2
              4      57
4             0       1
              1       1
              2       2
              4      56
5             0       1
              1       2
              2       1
              4      56
6             0       3
              1       3
              4      54
7             0       1
              1       3
              4      56
8             0       2
              1       3
              4      55
9             0       1
              1       3
              4      56
10            0       1
              1       3
              4      56
11            0       1
              1       2
              2       1
              4      56
12            1       2
              2       1
              4      57
13            0       1
              1       3
              4      56
14            0       1
              1       2
              2       1
              4      56
15            0       2
              1       3
              4      55
16            0       1
              1       2
              2       1
              4      56
Name: sdt, dtype: int64
960
MEAN TO:  1.48571804182
TO WINDOW:  0.50885806419 2.46257801945
2.73049155778
TO rejects n:  1
VS rejects N:  5
CORRECT VS:  111
PARTICIPANT NAME: 10
<class 'pandas.core.series.Series'>
block_number  sdt
1             0       4
              1       3
              4      53
2             0       1
              1       2
              2       1
              4      56
3             2       3
              4      57
4             0       1
              1       2
              2       1
              4      56
5             0       1
              1       2
              2       1
              4      56
6             0       2
              1       2
              2       1
              4      55
7             0       1
              1       1
              2       2
              4      56
8             0       2
              1       2
              2       1
              4      55
9             1       2
              2       1
              4      57
10            0       1
              1       2
              2       1
              4      56
11            0       2
              1       3
              4      55
12            0       2
              1       3
              4      55
13            2       3
              4      57
14            0       1
              1       2
              2       1
              4      56
15            0       2
              1       3
              4      55
16            0       1
              1       3
              4      56
Name: sdt, dtype: int64
960
MEAN TO:  1.4543600445
TO WINDOW:  0.471846573212 2.4368735158
2.64915417812
TO rejects n:  1
VS rejects N:  2
CORRECT VS:  110
PARTICIPANT NAME: 11
<class 'pandas.core.series.Series'>
block_number  sdt
1             0       2
              1       2
              2       1
              4      55
2             0       2
              1       3
              4      55
3             1       1
              2       2
              4      57
4             0       1
              1       2
              2       1
              4      56
5             2       3
              4      57
6             1       1
              2       2
              4      57
7             0       1
              1       2
              2       1
              4      56
8             1       2
              2       1
              4      57
9             0       1
              1       1
              2       2
              4      56
10            0       2
              1       2
              2       1
              4      55
11            0       1
              1       2
              2       1
              4      56
12            2       3
              4      57
13            0       2
              1       3
              4      55
14            2       3
              4      57
15            0       2
              1       2
              2       1
              4      55
16            0       2
              1       2
              2       1
              4      55
Name: sdt, dtype: int64
960
MEAN TO:  1.28035098065
TO WINDOW:  0.120272867442 2.44042909387
TO rejects n:  0
VS rejects N:  3
CORRECT VS:  125
PARTICIPANT NAME: 12
<class 'pandas.core.series.Series'>
block_number  sdt
1             0       1
              1       3
              4      56
2             0       1
              1       1
              2       2
              4      56
3             0       1
              1       3
              4      56
4             0       2
              1       2
              2       1
              4      55
5             0       2
              1       2
              2       1
              4      55
6             1       1
              2       2
              4      57
7             0       1
              1       2
              2       1
              4      56
8             0       1
              1       1
              2       2
              4      56
9             0       1
              1       1
              2       2
              4      56
10            0       1
              1       3
              3       1
              4      55
11            1       1
              2       2
              4      57
12            0       1
              1       1
              2       2
              3       1
              4      55
13            0       2
              1       3
              4      55
14            0       1
              1       1
              2       2
              3       1
              4      55
15            1       2
              2       1
              4      57
16            0       2
              1       2
              2       1
              3       2
              4      53
Name: sdt, dtype: int64
960
MEAN TO:  1.10874949586
TO WINDOW:  0.372502687628 1.84499630409
TO rejects n:  0
VS rejects N:  5
CORRECT VS:  126
PARTICIPANT NAME: 14
<class 'pandas.core.series.Series'>
block_number  sdt
1             0       2
              1       3
              4      55
2             1       3
              4      57
3             1       3
              4      57
4             0       2
              1       3
              4      55
5             1       3
              4      57
6             1       3
              4      57
7             0       1
              1       1
              2       2
              4      56
8             0       2
              1       3
              4      55
9             0       1
              1       2
              2       1
              4      56
10            0       1
              1       2
              2       1
              4      56
11            0       2
              1       3
              4      55
12            0       1
              1       3
              4      56
13            1       3
              4      57
14            1       3
              4      57
15            0       1
              1       1
              2       2
              4      56
16            1       3
              4      57
Name: sdt, dtype: int64

960
MEAN TO:  1.19597903721
TO WINDOW:  0.172760602928 2.21919747149
0.0940915809006
TO rejects n:  1
VS rejects N:  4
CORRECT VS:  126
PARTICIPANT NAME: 15
<class 'pandas.core.series.Series'>
block_number  sdt
1             1       1
              2       2
              4      57
2             0       1
              1       2
              2       1
              4      56
3             1       1
              2       2
              4      57
4             1       3
              4      57
5             0       2
              1       3
              4      55
6             0       1
              1       3
              4      56
7             1       3
              4      57
8             0       2
              1       3
              4      55
9             0       2
              1       3
              4      55
10            0       1
              1       3
              4      56
11            0       2
              1       3
              3       1
              4      54
12            0       3
              1       3
              3       1
              4      53
13            0       1
              1       3
              4      56
14            0       1
              1       3
              4      56
15            1       1
              2       2
              4      57
16            0       1
              1       3
              4      56
Name: sdt, dtype: int64
960
MEAN TO:  0.742795518811
TO WINDOW:  -3.43598847975 4.92157951737
-10.7530168864
TO rejects n:  1
VS rejects N:  4
CORRECT VS:  116
PARTICIPANT NAME: 17
<class 'pandas.core.series.Series'>
block_number  sdt
1             1       3
              3       4
              4      53
2             0       1
              1       3
              3       2
              4      54
3             1       2
              2       1
              4      57
4             1       3
              4      57
5             1       3
              3       1
              4      56
6             0       1
              1       3
              4      56
7             0       1
              1       3
              4      56
8             1       2
              2       1
              4      57
9             0       2
              1       3
              4      55
10            0       1
              1       3
              4      56
11            0       1
              1       3
              4      56
12            0       1
              1       3
              4      56
13            1       3
              4      57
14            1       2
              2       1
              4      57
15            0       1
              1       3
              3       3
              4      53
16            0       1
              1       2
              2       1
              3       1
              4      55
Name: sdt, dtype: int64

In [23]:
f = '../output/participant_8.pik'
import pickle
with open(f,'r') as of:
    D = pickle.load(of)
df = pd.DataFrame.from_dict(D['experiment_details'],orient='index')
new_df, notes = process(df)
print notes
a=df.groupby(['block_number','sdt'])['sdt'].count()
print a

960
MEAN TO:  1.15074708319
TO WINDOW:  0.253489353005 2.04800481338
-0.202262869258
TO rejects n:  1
VS rejects N:  3
CORRECT VS:  117
{'tone_n_present_high': 24, 'vs_accuracy_diff': 0.1262939958592132, 'tone_detection_accuracy_low': 0.75, 'false_alarms_low': 0, 'tone_detection_accuracy_diff': -0.08333333333333337, 'tone_detection_accuracy_high': 0.8333333333333334, 'false_alarms_high': 1, 'vs_accuracy_high': 0.8260869565217391, 'tone_n_hit_high': 20, 'vs_accuracy_low': 0.9523809523809523}
block_number  sdt
1             0       2
              1       3
              3       1
              4      54
2             0       1
              1       3
              4      56
3             1       2
              2       1
              4      57
4             0       1
              1       3
              4      56
5             1       2
              2       1
              4      57
6             0       1
              1       3
              4      56
7             0       2
              1       3
              4      55
8             0       2
              1       3
              4      55
9             1       3
              4      57
10            0       1
              1       2
              2       1
              4      56
11            0       1
              1       3
              4      56
12            0       2
              1       3
              4      55
13            2       3
              4      57
14            1       1
              2       2
              4      57
15            1       1
              2       2
              4      57
16            1       3
              4      57
Name: sdt, dtype: int64

In [ ]:
a

In [18]:
len(p)

50

In [ ]:


new_df, notes = process(df)
print notes

In [ ]:
df[['RT_TO']].min()

In [ ]:
f = '../output/participant_8.pik'
import pickle
with open(f,'r') as of:
    D = pickle.load(of)
df = pd.DataFrame.from_dict(D['experiment_details'],orient='index')

In [ ]:
l=df['RT_TO'].tolist()