In [2]:
import numpy as np
import pandas as pd
raw_data = {'first_name': ['Jason', 'Molly', np.nan, np.nan, np.nan], 
        'nationality': ['USA', 'USA', 'France', 'UK', 'UK'], 
        'age': [42, 52, 36, 24, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'nationality', 'age'])
df

  first_name nationality  age
0      Jason         USA   42
1      Molly         USA   52
2        NaN      France   36
3        NaN          UK   24
4        NaN          UK   70

In [7]:
df[df['nationality'] == 'USA'].count()[0]

2

In [8]:
import psychopy

In [9]:
from psychopy import core

In [10]:
t = core.Clock()

In [11]:
t

In [12]:
t

In [16]:
t.getTime()

15.168655990370098